/* Write your CSS here */
.container{
    background-color: black;
    color: white;
    font-family: Bree Serif;
    height: 100vh;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.heading{
    font-size: 32px;
}

.subscribeBtn{
    height: 40px;
    width: 105px;
}